* {
    border: none;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #2d2d2d;
}

@font-face{
    font-family: 'NexaBold';
    src: url("../../../assets/Nexa_Bold.otf") format("opentype");
}

@font-face{
    font-family: 'NexaLight';
    src: url("../../../assets/Nexa_Light.otf") format("opentype");  
}

body {
    font-family: 'NexaBold', sans-serif;
}

div.body-container{
    height: 100%;
}

#acm-body-container{
    border-radius:none;
    background-color: #2d2d2d;
    border-color: #212223;
    font-family: 'NexaBold', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
}

#acm-navbar{
    border-radius:none;
    background-color: #212223;
    border-color: #212223;
    height: 120px;
}

.navbar-default .navbar-nav > li > a {
    color: #ededed;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    background-color: #212223;
    width: 105px;
}

#logo{
    max-height: 75px;
    max-width: 75px;
    height: auto;
    width: auto;
    margin-top: -35px;
}

#logo-text {
    color: #ededed;
    font-size: 10px;
    font-family: 'NexaBold', sans-serif;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#facebook-btn {
    height: 50px;
    background-color: #3c579e;
    font-family: 'NexaBold', sans-serif;
}

#twitter-btn {
    height: 50px;
    background-color: #55acee;
    font-family: 'NexaBold', sans-serif;
}

#google-btn {
    height: 50px;
    background-color: #d95032;
    font-family: 'NexaBold', sans-serif;
}

.sign-icon {
    padding-left: 20px;
}

.btn-text {
    padding-left: 8em;
}
@media screen and (max-width: 767px) {
    .navbar {
        display: block;
        align-items: none;
        padding-top: 10px;
    }
    #acm-navbar{
    height: 70px;
    }
    #logo-text {
        display: none;
    }
    #logo{
    max-height: 50px;
    max-width: 50px;
    height: auto;
    width: auto;
    margin-top: -16px;
    }
} 

.main-content {
    height: 100%;
    margin-top: 200px;
}

.flexslider {
    width: 100%;
    height: 700px;
}

.flexslider > ul > li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
  width: 100%    !important;
  height: 500px   !important;
}
